
<div class='profile-name'>
  <h2><%= @user.email %></h2>
</div>

<div class='survey-created'>
  <h3>Survey's Created</h3>
  <% @surveys_created.each do |survey| %>
    <li><a href= "/surveys/<%= survey.id %>/edit"><%= survey.title %></a></li>
  <% end %>
</div>
<!-- This is very un optimal O(n2) -->
<!-- A lot of times you can't stop from doing this, so just limit the results you are doing it over -->
<div class='survey-taken'>
  <h3>Survey's Taken</h3>
  <% @surveys_taken.each do |round| %>
  <div class='test'>
     <h4 ><%=round.survey.title%></h4>
      <% round.responses.each do |response| %>
        <li><%= response.question.text %> <i><%= response.choice.text %></i></li>
        <br>
      <% end %>
      </div>
  <% end %>
</div>

