<h2><%= @survey.title %></h2>

<h3>This survey has been taken <%=@survey.rounds.count%> times</h3>

<% @survey.questions.each do |question| %>
  <h4><%= question.text %></h4>
  <%question.choices.each do |choice|%>
    <li><%=choice.text%>: <%=choice.responses.count%>
  <%end%>
<%end%>
