<h2><%= @survey.title %></h2>

<div class='container' id= 'create-question'>
  <form action="/surveys/<%=@survey.id%>/questions" method="POST">
    <input type="text" name="text" placeholder="Question"/>
    <input type="submit" value="Add" />
  </form>
</div>

<div class='container' id='question-list'>
  <div>
    <% @survey.questions.each do |q| %>
      <h3><%= q.text %></h3>
      <form action="/questions/<%=q.id%>/choices" method="POST">
        <input type="text" name="text" placeholder="Choice"/>
        <input type="submit" value="Add" />
      </form>
      <% q.choices.each do |c| %>
        <li> <%= c.text %> </li>
      <% end %>
    <% end %>
  </div>
</div>


